@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
body{
    
    background-color:azure;
}

.row
{
   padding-top: 10px;
}
p{
    padding-top: 19px;
    
}

div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: 120px;
    width: 80px;
    float: left;
    text-align: center;
}
div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}



.panel{
	
	margin-top:90px;
}