@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
body
{
background-color:azure;
}
<!--navbar -->

.navbar-header{
margin-left:20px;
margin-right:160px;

}
.input-group input-group-150
{
  margin-left:120px;
    background-color:blueviolet;
}

#searchbar{
    
    max-width: 620px;
}

.deleteicon{
	width:2px;
	height:3px;
}

<!--Carousel-->
$('.carousel').carousel({
  interval: 1000 * 5
});


<!-- Popular products-->
.popimagesize
{
    width: 160px;
    height: 230px;
}




<!--Log in-->
#ember360{
	width:120px;
}


<!-- Final CheckOut-->
#deliverto{
    padding: 0px 0px 10px 40px;
}


<!-- Ship Details-->

#textcentership{
    position: absolute;    
    top:50%;
    text-align: center;
vertical-align: middle;
line-height: 90px;
}